:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  display: flex;
  align-items: center;   /* vertical alignment */
  justify-content: center; /* horizontal alignment */

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #242424;
  }
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.setting input {
  width: 90px;
}

h3 {
   margin-top: 12px;
   margin-bottom: 4px;
   font-size: 14px;

 }

.hidden {
  display: none !important;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

#ui{
  background-color: #242424;
}
#main_menu{

}

#light_menu{
  position: absolute;
  right: 0;
  top: 0;
}

#model_properties{
  position: absolute;
  right: 1%;
  bottom: 2%;
}

#model_properties_container{
  width: 8%;
  height: 2%;
  position: absolute;
  right: 5%;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  font-size: 10pt;

}
h4{
  margin-bottom: 0.5em;
  margin-top: 0;
}

#settings_container {
  position: absolute;
  top: 45px;
  width: 260px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #242424;
  color: white;
  border-radius: 0;
  font-family: "Segoe UI", serif;
}

#lighting_container {
  position: absolute;
  top: 45px;
  right: 0;
  width: 260px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #242424;
  color: white;
  border-radius: 0;
  font-family: "Segoe UI", serif;
}

#save{
  margin-top: 5%;
  width: inherit;
}

#btn_container {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.active{

  background-color: #888888;
}
